@model Provis.Core.Helpers.Mails.ViewModels.TaskChangeStatus

@{
    Layout = "_TaskEditLayout";
    ViewData["ClientUrl"] = Model.Uri;
}

<table align="center">
    <tr>
        <td align="center">
            <h1 style="font-weight: normal;">Status has been changed</h1>
            <p style="font-weight: bolder;">by @Model.WhoChangedUserName</p>
            <h2 style="color: white">@Model.TaskName</h2>
            <table align="center">
                <tr>
                    <td>
                        <button style="background-color: aqua; color: white; border: 0; height: 40px; font-size: large" disabled>
                            <b>@Model.FromStatus.ToString().Replace("Id", "")</b>
                        </button>
                    </td>
                    <td>
                        <h2 style="color: white">&rArr;</h2>
                    </td>
                    <td>
                        <button style="background-color: lawngreen; color: white; border: 0; height: 40px; font-size: large" disabled>
                            <b>@Model.ToStatus.ToString().Replace("Id", "")</b>
                        </button>
                    </td>
                </tr>
            </table>
            <p style="color: white; font-weight: bolder;">Workspace &gt; @Model.WorkspaceName</p>
        </td>
    </tr>
</table>